<!DOCTYPE html>
<html>
    <head>
        <title>{{ project_name }}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    </head>
    <body>
        <h1>{{ microservice_name }}</h1>
    </body>
</html>
